@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;500&display=swap');

.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem; 
    font-family: 'Assistant', sans-serif;
    direction: rtl;  
    color: #090F24;
}

.addTask {
    display: flex;
    gap: 8px;
    width: 50%;
    align-items: center;
    margin-bottom: 2rem;
}

.addTask input{
    border: solid 4px #E2E4EA;
    font-size: 24px;
    border-radius: 20px;
    width: calc(100% - 40px);
    padding: 16px;
    background-color: transparent;
    font-family: 'Assistant', sans-serif;
    color: #090F24;
}

.addTask input::placeholder { 
    color: #9B9FAD;
  }

.addTask button {
    color: #fff;
    background-color: #8E5AD1;
    border-radius: 24px;
    box-shadow: none;
    border: none;
    height: 60px;
    width: 66px;
    font-size: 28px;
    cursor: pointer;
    font-family: 'Assistant', sans-serif;
}

.addTask button:hover {
    background-color: #9f66ea;
}

.tasksList {
    width: 50%;
}

.taskWrapper {
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    background-color: #fff;
    padding: 1rem 1rem 1rem 1.6rem;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: 24px;
}

.delete {
    margin-right: auto;
    display: none;
    cursor: pointer;
    background: url('/delete.svg') no-repeat center;
    opacity: 0.6;
    width: 31px;
    height: 35px;
    border: none;
}

.delete:hover {
    opacity: 1;
}

.taskWrapper:hover .delete{
    display: block;
}

.checkBox {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #E5E7ED url('/unchecked.svg') no-repeat center 20px;
    border: solid 4px #F2F3F4;
    cursor: pointer;
}

.checkBox:hover {
    border-color: #D3D7E2;
}

.checked {
    background: #5AD18A url('/checked.svg') no-repeat center 20px;
    border: solid 4px #90E8B3;
}

.checked:hover {
    border-color: #56B67C;
}


  